@model OneTeamAptitudeMVC.Models.ExamStats
@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("index", "User", FormMethod.Post))
{
    <div class="sidebar" data-color="green">
        <div class="logo">
            <h1>Aptitude Portal</h1>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="~/User/Index">
                        <i class="fa fa-university"></i>
                        <p>Home</p>
                    </a>
                </li>

                @*<li>
            <a href="./typography.html">
                <i class="now-ui-icons text_caps-small"></i>
                <p>Typography</p>
            </a>
        </li>*@
                <li class="nav">
                    <a href="~/User/ExamPractice">
                        <i class="fa fa-book"></i>
                        <p>Exam Practice</p>
                    </a>
                </li>
                <li>
                    <a href="~/Account/ChangePassword">
                        <i class="fa fa-user-secret"></i>
                        <p>Change Password</p>
                    </a>
                </li>
                <li>
                    <a href="~/Account/LogOut">
                        <i class="fa fa-sign-out-alt"></i>
                        <p>Logout</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="main-panel" style="background-color:white;">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent  bg-primary  navbar-absolute">

            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#pablo">Dashboard</a>
                </div>
            </div>
        </nav>

        <div class="content" style="margin-top:5px;">

            <div class="row">
                <div class="col-md-8">

                    <img src="../Images/OnetEAMSOLUTIONS.png" class="img-responsive" alt="One Team Aptitude Portal" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="background-color:darkcyan;border-radius:10px;">


                        <div class="card-body">
                            <div style="background-color:white;">
                                <div class="card-header">
                                    <h1>Welcome !</h1>

                                    <table>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                    <label class="form-control">@ViewBag.user.Name</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </div>
                                                    <label class="form-control">@ViewBag.user.Email</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-phone"></i>
                                                    </div>
                                                    <label class="form-control">@ViewBag.user.Phone</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-graduation-cap"></i>
                                                    </div>
                                                    <label class="form-control">@ViewBag.user.DepartmentName</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <input type="submit" style="visibility:hidden;" class="btn btn-primary" name="Submit" value="start Exam" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="background-color:darkcyan;border-radius:10px;">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div style="background-color:white;">
                                <h1>Your Next Exam Is</h1>
                                <table style="margin-left:20px;">
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    @Html.Label("Category")
                                                </div>
                                                <label class="form-control">
                                                    @Model.QuestionCategory.Name
                                                </label>


                                            </div>



                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    @Html.Label("Passmark ")
                                                </div>
                                                <label class="form-control">
                                                    @Model.Passmark
                                                </label>


                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    @Html.Label("Total Question ")

                                                </div>
                                                <label class="form-control">
                                                    @Model.TotalQuestion
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    @Html.Label("Time For Exam ")
                                                </div>
                                                <label class="form-control">
                                                    @Model.TimeForExam  Mins
                                                </label>

                                            </div>
                                          
                                        </td>
                                    </tr>
<tr> <td><input type="submit" onclick="SetLocalStorage()" class="btn btn-primary" name="Submit" value="start Exam" />
                                <label style="color:red">
                                    @ViewBag.message
                                </label></td></tr>
                                </table>


                              

                            </div>



                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card" style="background-color:darkcyan;border-radius:10px;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                Exam History
                            </div>
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink("View Details", "StudentExamHistory", "User", new { @class = "btn btn-primary" })

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>


                    </div>

                </div>
            </div>


        </div>
    </div>



}
@section scripts
    {
    <script src="~/assets/js/canvasjs.min.js"></script>
    <script>
    localStorage.setItem('Minutes',@Model.TimeForExam);
    localStorage.setItem('Seconds', 1);
    window.onload=function()
    {
    var dataPoints = [];
    @foreach (var item in ViewBag.ExamHistory)
    {
        <text>
        dataPoints.push({ label:"@item.Label", y:@item.Y });
        </text>
    }



    var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2", // "light1", "light2", "dark1", "dark2"
    title: {
    text: ""
    },
    axisY: {
    title: "Mark",
    suffix: "",
    includeZero: false
    },
    axisX: {
    title: "Date"
    },
    data: [{
    type: "column",
    yValueFormatString: "",
    dataPoints: dataPoints,
    }]
    });
    chart.render();


        }


        function SetLocalStorage() {
            localStorage.setItem('exam', 0);
        }
    </script>
}



